<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>947717468079-angg0ehtbvfec0sgs99mof0auaqikfa9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.947717468079-angg0ehtbvfec0sgs99mof0auaqikfa9</string>
	<key>API_KEY</key>
	<string>AIzaSyBMOQexfQvZ_3WV75QTVWSsSz_Ago-yCjE</string>
	<key>GCM_SENDER_ID</key>
	<string>947717468079</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.webmarke8.GenKart</string>
	<key>PROJECT_ID</key>
	<string>genkart-64966</string>
	<key>STORAGE_BUCKET</key>
	<string>genkart-64966.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:947717468079:ios:ed35c4bcb1d2cc57</string>
	<key>DATABASE_URL</key>
	<string>https://genkart-64966.firebaseio.com</string>
</dict>
</plist>